name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Setup Code Climate test-reporter
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter

      - name: Before tests
        run: ./cc-test-reporter before-build

      - name: Run linter
        run: make lint

      - name: Run tests
        run: make test

      - name: After tests
        run: ./cc-test-reporter after-build --coverage-input-type lcov
